# Default server configuration
#

server {
   listen 8080;
   server_name sulakhehospital.co.in;
   set $MAGE_MODE developer;
   root /var/www/html/pub/;
   location / {
        try_files $uri /index.php$is_args$args;
    } 

   location /static/ {
      if ($MAGE_MODE = "production") {
        expires max;
      }

  # Remove signature of the static files that is used to overcome the browser cache
    location ~ ^/static/version {
      rewrite ^/static/(version\d*/)?(.*)$ /static/$2 last;
    }

    location ~* \.(ico|jpg|jpeg|png|gif|svg|js|css|swf|eot|ttf|otf|woff|woff2)$ {
      add_header Cache-Control "public";
      add_header X-Frame-Options "SAMEORIGIN";
      expires +1y;

      if (!-f $request_filename) {
            rewrite ^/static/(version\d*/)?(.*)$ /static.php?resource=$2 last;
      }
    }
 
    location ~* \.(zip|gz|gzip|bz2|csv|xml)$ {
      add_header Cache-Control "no-store";
      add_header X-Frame-Options "SAMEORIGIN";
      expires off;

      if (!-f $request_filename) {
             rewrite ^/static/(version\d*/)?(.*)$ /static.php?resource=$2 last;
      }
    }

    if (!-f $request_filename) {
      rewrite ^/static/(version\d*/)?(.*)$ /static.php?resource=$2 last;
    }

  }

 location ~ \.php$ {
      include snippets/fastcgi-php.conf;
      fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
 }

}

server {

    root /var/www/html/pub;
    index index.php index.html index.htm index.nginx-debian.html;
    set $MAGE_MODE developer;
    server_name sulakhehospital.co.in;
        
    listen 443 ssl http2;   
    ssl_certificate "{{ self_signed_certs.0.cert }}";
    ssl_certificate_key "{{ self_signed_certs.0.key }}";
    ssl_protocols  TLSv1.2 TLSv1.3;
    location / {
       proxy_pass http://127.0.0.1:6081;
       add_header Access-Control-Allow-Origin *;
       proxy_set_header Host               $http_host;
       proxy_set_header X-Forwarded-Host   $http_host;
       proxy_set_header X-Real-IP          $remote_addr;
       proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
       proxy_set_header X-Forwarded-Proto  https;
       proxy_set_header X-Forwarded-Port   443;
       proxy_buffer_size                   128k;
       proxy_buffers                       4 256k;
       proxy_busy_buffers_size             256k;
       fastcgi_buffer_size                 32k;
       fastcgi_buffers                     4 32k;
      }
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
    }
}

server {
    listen 8080;
    server_name _;
    return 301 https://$host$request_uri;   
}